<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label:remember_me, class:"checkbox inlin" do %>
        <%= f.check_box:remember_me %>
        <span>情報を記録する</span>
      <% end %>  
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p>新しいユーザー登録はこちら <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>